
# made by sbt
target/

# made by eclipse
# you can create the eclipse project file by running `sbt eclipse`
.cache
.classpath
.project
.settings

# made by idea
# you can create the intellij idea project file by running `sbt gen-idea`
.idea
.idea_modules
